.ui.dropdown {
  @apply flex-col relative inline-block;

  label,
  button,
  input {
    border-width: var(--ui-border-thickness, 1px);
    border-width: 1px;
    @apply self-start;
    @apply p-2 border-solid border-[color:var(--ui-natural-color)] rounded-[var(--ui-border-radius)];
  }

  menu {
    @apply mt-2 bg-white z-50;
    border-width: 1px;
    @apply hidden flex-col gap-1 w-fit m-0 p-0 absolute;
    @apply border-solid border-[color:var(--ui-border-color)] rounded-[var(--ui-border-radius)];
    @apply shadow-md;

    >li,
    >menuitem,
    >a.item {
      @apply p-2 min-w-[120px] cursor-pointer;

      &:hover {
        @apply bg-[color:var(--ui-theme-color)];
      }
    }
  }

  &:focus-within>menu {
    @apply flex;
  }

  :focus+menu {
    @apply flex;
  }
}